<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Client Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Client Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Client Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Professional Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/attendance}">Attendance Schedule(For Admin)</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1> Attendance Schedule </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/attendance/new}" class = "btn btn-primary btn-sm mb-3"> Add attendance</a>
        </div>
    </div>
    <table id="table" class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Attendance Date</th>
            <th> Comment</th>
            <th> Sum</th>
            <th> Client Email </th>
            <th> Worker Email </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "attendance: ${attendances}">
            <td th:text = "${attendance.date}"></td>
            <td th:text = "${attendance.comment}"></td>
            <td th:text = "${attendance.sum}"></td>
            <td th:text = "${attendance.clientEmail}"></td>
            <td th:text = "${attendance.workerEmail}"></td>
            <td>
                <a th:href = "@{/attendance/edit/{id}(id=${attendance.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/attendance/{id}(id=${attendance.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>
        <tr>
            <td th:text="Total"></td>
            <td class=></td>
            <td th:text="${price.totalPrice}"></td>
        </tr>
    </table>


</div>
</body>
</html>