<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Client Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Client Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Client Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/attendance/date}">Attendance Schedule By Date</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/attendance}">Attendance Schedule (Today)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/goal}">Worker's goal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/finance/date}">Finance By Date</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/statistic/date}">Statistic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/goal/date}">Goals Review</a>
            </li>

        </ul>
    </div>
</nav><br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Attendance </h1>
            <div class="card-body">
                <form th:action="@{/attendance}" th:object="${attendance}" method="POST">
                    <div class="form-group">
                        <label> Date </label>
                        <input
                                type="datetime-local"
                                name="Date"
                                min="2021-12-01T00:00" max="2023-01-01T00:00"
                                th:field="*{date}"
                                class="form-control"
                                placeholder="Enter date for attendance"
                        />
                    </div>

                    <div class="form-group">
                        <label> Comment </label>
                        <input
                                type="text"
                                name="comment"

                                th:field="*{comment}"
                                class="form-control"
                                placeholder="Enter Comment"
                        />
                    </div>

                    <div class="form-group">
                        <label> Client Email </label>
                        <input
                                type="text"
                                name="client_email"
                                th:field="*{clientEmail}"
                                class="form-control"
                                placeholder="Enter Client Email"
                        />
                    </div>

                    <div class="form-group">
                        <label> Worker Email </label>
                        <input
                                type="text"
                                name="worker_email"
                                th:field="*{workerEmail}"
                                class="form-control"
                                placeholder="Enter Worker Email"
                        />
                    </div>

                    <div class="form-group">
                        <label> Draft Sum </label>
                        <input
                                type="number"
                                name="sum"
                                th:field="*{sum}"
                                class="form-control"
                                placeholder="Enter Draft Sum"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>